* {
  margin: 0;
  padding: 0;
}


a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
}

/* Alterar opacidade e adicionar o texto em caixa alta */
a:hover {
  opacity: 0.6;
  text-transform: uppercase;
}

button:hover{
  list-style: none;
      display: flex;
      background-color: transparent;
border: none;
outline-style: none;
}

.titulo {
  font-size: 26px;
  text-transform: uppercase;
  text-align: justify;
  position: fixed;
    top: 15vh;
    right: -75vh;
    width: 90vw;
    height: 92vh;
}


.ramais {
  position: fixed;
    top: 22vh;
    right: -60vh;
    width: 90vw;
    height: 92vh;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 2px;
}

.logo {
  position: relative;
    top: 0.5vh;
    right: -20vh;
    /* width: 90vw; */
    /* height: 92vh; */
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 7px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif,;
  background: #118002;
  height: 8vh;
}

main {
  /* background: url("bg.jpg") no-repeat center center; */
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex !important;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  float: left;
  /* display: block;
  cursor: pointer; */
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/* Ajustando a barra lateral direita */
@media (max-width: 1920px) { 
  body {
    overflow-x: hidden;
  }
  .nav-list {
    /* position: fixed;
    top: 8vh;
    right: 0;
    width: 27vw;
    height: 92vh;
    overflow-y: scroll;
    background: #118002;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;    */
    position: fixed;
  top: 8vh; 
  left: 0;
  height: 92vh;
  width: 27vw;
  overflow-y: scroll;
  flex-direction: column;
  background-color: #118002;
  z-index: 2;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animação do Menu virando um X */
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

